/* .md-sidebar--primary {
  width: 380px; 
  margin-left: -5%;
}

.md-nav--primary {
  width: 360px;
}

.md-sidebar--secondary {
  width: 300px;
  margin-right: -10%
}

.md-nav--secondary {
  width: 280px;
  margin-right: -10%
} */